<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
         
		<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource" >
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url" >
            <value>jdbc:mysql://127.0.0.1:3306/case?useUnicode=true&amp;characterEncoding=utf-8</value>
        </property>
        <property name="username" >
            <value>root</value>
        </property>
        <property name="password">
        	<value>root</value>
        </property>
        <property name="maxActive"> 
           <value>255</value> 
        </property> 
        <property name="maxIdle"> 
           <value>20</value> 
        </property> 
        <property name="maxWait"> 
           <value>100</value> 
        </property> 
    </bean>
	  
  	<!-- 创建SqlSessionFactory，同时指定数据源
  	<property name="mapperLocations" value="classpath:com/tbs/mapper/User.xml" /> -->   
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">    
     <property name="dataSource" ref="dataSource" /> 
     <property name="configLocation" value="classpath:mybatis-config.xml"></property>
     <!-- 所有配置的mapper文件 -->
     <property name="mapperLocations" value="classpath*:com/sm/mapper/*.xml" /> 
   	</bean>    
  <!-- scan for mappers and let them be autowired  -->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	 <property name="basePackage" value="com.sm.mapper" />
  </bean> 
  <!-- 支持上传文件 -->  
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  
  
</beans>
